# This file goes in domain.com/config.ru

require 'sinatra'
require 'rubygems'
require 'rack/cache'

path = "/home/reidab/sites/electricblanket.reidab.com"

Sinatra::Application.default_options.merge!(
  :root => path,
  :views => path + '/views',
  :public => path + '/public',
  :run => false,
  :env => :production 
)

log = File.new("sinatra.log", "w")
STDOUT.reopen(log)
STDERR.reopen(log)

require 'electricblanket.rb'

use Rack::Cache, 
   :metastore => 'tmp/meta',
   :entitystore => 'tmp/entity',
   :default_ttl => 120

run Sinatra.application