# This file goes in domain.com/config.ru

require 'sinatra'
require 'rubygems'

path = "/home/reidab/sites/getoffmylawn.reidab.com"

Sinatra::Application.default_options.merge!(
  :root => path,
  :views => path + '/views',
  :public => path + '/public',
  :run => false,
  :env => :production 
)

log = File.new("sinatra.log", "w")
STDOUT.reopen(log)
STDERR.reopen(log)

require 'getoffmylawn.rb'
run Sinatra.application
