/* @override http://localhost:4567/osbridge/style.css */

h2.entry-title {
	margin: 0;
}

div#container {
	width: 100%;
}

ul.tweetscope {
	list-style: none;
	margin: 2em 0 1em 2em;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.tweetscope img	{
	border: 0;
}

ul.tweetscope li {
	background: #d6edff;
	padding: .5em;
	margin: 0 20px 20px 0;
	width: 20.5em;
	height: 10.5em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
}

ul.tweetscope .avatar {
	float: left;
	margin-right: .5em;
	width: 48px;
	height: 48px;
}

ul.tweetscope .author {
	font-size: 25px;
	text-decoration: none;
}

ul.tweetscope .published {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: .5em;
	color: #444;
	font-size: 10px;
	text-decoration: none;
}

ul.tweetscope .meridian {
	font-size: 10px;
	margin-left: 3px;
}

ul.tweetscope .content {
	margin: .5em 0 0 60px;
	font-size: 13px;
	line-height: 20px;
}

