!!! Strict
%html
  %head
    %title Hey! You Kids! #getoffmylawn!
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
  %body
    #header
      %h1 Hey! You Kids! #getoffmylawn!
        
    #content
      %ul
        - @feed.items.each do |item|
          %li
            %a.author{ :href => item.author.split(/\n/)[1].strip }
              %img.avatar{ :src => item.image }
              %span.name= extract_author_name(item.author)
            %a.published{ :href => item.link }
              %span.time
                %span.hour>= item.published.localtime.strftime('%I')
                %span.minute>= ':'+item.published.localtime.strftime('%M')
                %span.meridian= item.published.localtime.strftime('%p')
              %span.date= 'on ' + item.published.localtime.strftime('%B %d')
            %p.content= prepare_content(item.content)
            
    #footer 
      a tiny project by
      %a{ :href => 'http://reidbeels.com' } Reid Beels 
        
        